// for the list of posts

.section-title {
	font-size: $section-title-font-size;
}

.post-list {
	margin-top: 2em;
}

.post-list-item {
	margin-bottom: 1.5em;
}

.item-title-big {
	display: block;
	font-size: $item-title-big-font-size;
	line-height: 1.25;
}

.item-title-small {
	font-size: 1rem;
}

.item-date {
	color: $item-date-color;
	display: block;
	font-size: $item-date-font-size;
	margin-bottom: .2rem;
	margin-top: .2rem;
}

// .item-summary {
// 	p {
// 		margin-bottom: 0;
// 	}
// }
