.topbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: $topbar-offset;
  padding-bottom: $topbar-offset;
  background-color: $topbar-color;
  text-align: center;
  line-height: 1;
  a {
    color: $gray-1;
    border: none;
    &:hover {
      color: $link-color;
    }
    &:focus {
      color: $link-color;
    }

  }
}

.topbar-text {
  display: flex;
  margin: auto;
}

.topbar-title {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-size: $topbar-title-font-size;
}

.topbar-menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: $topbar-links-font-size;
}

.topbar-menu a {
  padding-right: 1rem;
}




