// mobile ~320..480px
// 320px ~ 16rem/16px ~ 18.8235/17px ~ 17.7778/18px
// 480px ~ 30rem/16px ~ 28.2353rem/17px ~ 26.6667rem/18px
@media (max-width: 768px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .hidden-tablet {
    display: none;
  }
  .topbar-title {
    flex: 1 1 auto;
  }
  .topbar-text {
    max-width: 100%;
  }
}

// tablet/medium device ~768px+
// 768px ~ 48em/16px ~ 45.1765em/17px ~ 42.6667/18px
@media (min-width: 768px) {
  html,
  body {
    font-size: $large-device-font-size;
  }
  .topbar-title {
    flex: 1 1 60%;
  }
  .topbar-text {
    max-width: $content-max-width;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    a {
      width: calc(50% - 10px);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
}

//dark mode
@media (prefers-color-scheme: dark) {
/*! Dark reader generated CSS | Licensed under MIT https://github.com/darkreader/darkreader/blob/main/LICENSE */

  /* User-Agent Style */
  html {
    background-color: #181a1b !important;
  }
  html {
    color-scheme: dark !important;
  }
  html, body {
    background-color: #181a1b;
  }
  html, body {
    border-color: #736b5e;
    color: #e8e6e3;
  }
  a {
    color: #3391ff;
  }
  table {
    border-color: #545b5e;
  }
  ::placeholder {
    color: #b2aba1;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #404400 !important;
    color: #e8e6e3 !important;
  }
  ::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
  }
  ::-webkit-scrollbar-corner {
    background-color: #181a1b;
  }
  ::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
  ::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }

  /* Removed Invert Style */

  /* Removed Variables Style */

  /* Modified CSS */
  body {
    color: rgb(200, 195, 188);
    background-color: rgb(24, 26, 27);
  }
  a {
    color: rgb(73, 168, 234);
    text-decoration-color: initial;
  }
  a:hover,
  a:focus {
    text-decoration-color: initial;
  }
  a strong {
    color: inherit;
  }
  table {
    border-color: rgb(55, 60, 62);
  }
  td,
  th {
    border-color: rgb(55, 60, 62);
  }
  tbody tr:nth-child(2n+1) td,
  tbody tr:nth-child(2n+1) th {
    background-color: rgb(27, 30, 31);
  }
  .page-title,
  .post-title,
  .post-title a {
    color: rgb(202, 197, 190);
  }
  .post-date {
    color: rgb(168, 161, 149);
  }
  .related {
    border-top-color: rgb(53, 57, 59);
    border-bottom-color: rgb(53, 57, 59);
  }
  .related-posts {
    list-style-image: initial;
  }
  .related-posts li small {
    color: rgb(168, 160, 149);
  }
  .related-posts li a:hover {
    color: rgb(73, 168, 234);
    text-decoration-color: initial;
  }
  .related-posts li a:hover small {
    color: inherit;
  }
  .danger,
  .warning,
  .info,
  .tip,
  blockquote {
    border-left-color: initial;
    border-right-color: rgba(140, 130, 115, 0);
    color: rgb(157, 149, 136);
  }
  blockquote {
    border-left-color: rgb(55, 60, 62);
  }
  .tip {
    color: rgba(203, 198, 192, 0.77);
    background-color: rgba(8, 127, 53, 0.2);
    border-left-color: rgb(3, 197, 3);
  }
  .tip-icon {
    color: rgb(80, 252, 80);
  }
  .info {
    color: rgba(203, 198, 192, 0.77);
    background-color: rgb(2, 47, 67);
    border-left-color: rgb(0, 107, 194);
  }
  .info-icon {
    color: rgb(82, 181, 255);
  }
  .warning {
    color: rgba(203, 198, 192, 0.77);
    background-color: rgb(61, 46, 0);
    border-left-color: rgb(180, 118, 2);
  }
  .warning-icon {
    color: rgb(252, 177, 37);
  }
  .danger {
    color: rgba(203, 198, 192, 0.77);
    background-color: rgba(67, 12, 17, 0.56);
    border-left-color: rgb(150, 32, 23);
  }
  .danger-icon {
    color: rgb(226, 77, 66);
  }
  kbd {
    border-color: rgb(62, 68, 70);
    background-color: rgb(31, 33, 35);
    color: rgb(201, 196, 189);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px,
    rgb(24, 26, 27) 0px 0px 0px 2px inset;
    text-shadow: rgb(24, 26, 27) 0px 1px 0px;
  }
  a {
    color: rgb(73, 168, 234);
    text-decoration-color: initial;
  }
  a:focus {
    color: rgb(200, 195, 188);
    border-bottom-color: rgb(62, 68, 70);
    text-decoration-color: initial;
    background-image: initial;
    background-color: rgba(0, 0, 0, 0);
  }
  a:focus.tag {
    text-decoration-color: initial;
  }
  a:hover {
    color: rgb(200, 195, 188);
    border-bottom-color: rgb(62, 68, 70);
    text-decoration-color: initial;
    background-image: initial;
    background-color: rgba(0, 0, 0, 0);
  }
  a:hover.tag {
    text-decoration-color: initial;
  }
  a.tag {
    text-decoration-color: initial;
  }
  a.read-more-symbol {
    text-decoration-color: initial;
  }
  // .topbar {
  //   background-color: rgb(10, 46, 70);
  // }
  .topbar a {
    color: rgb(228, 226, 222);
    border-color: initial;
  }
  .topbar a:hover {
    color: rgb(73, 168, 234);
  }
  .topbar a:focus {
    color: rgb(73, 168, 234);
  }
  .icons a {
    text-decoration-color: initial;
    border-color: initial;
  }
  .icon {
    color: rgb(73, 168, 234);
    fill: rgb(73, 168, 234);
  }
  .icon:hover {
    color: rgb(200, 195, 188);
    fill: rgb(200, 195, 188);
  }
  .item__date {
    color: rgb(157, 149, 136);
  }
  .post__meta {
    color: rgb(157, 149, 136);
  }
  .post__tag {
    background-image: initial;
    background-color: rgb(34, 36, 38);
    color: rgb(166, 159, 147);
  }
  .post__title {
    background-image: linear-gradient(to right,
    rgb(3, 0, 178),
    rgb(75, 101, 116));
    color: rgba(232, 230, 227, 0);
  }
  // pre {
  //   background-color: rgb(10, 46, 70) !important;
  // }
  pre code {
    background-color: rgba(0, 0, 0, 0);
  }
  a code {
    color: rgb(73, 168, 234);
  }
  code {
    background-color: rgb(31, 33, 35);
  }
  .navigation a {
    color: rgb(73, 168, 234);
    border-color: rgb(19, 108, 171);
  }
  .badge-tag,
  a.badge-tag {
    background-color: rgb(18, 98, 155);
    color: rgb(232, 230, 227) !important;
  }
  .badge-tag:hover,
  .badge-tag:focus,
  a.badge-tag:hover,
  a.badge-tag:focus {
    background-color: rgb(10, 46, 70);
    text-decoration-color: initial;
    border-bottom-color: initial;
  }
  .menu {
    background-color: rgb(31, 33, 35);
    color: rgb(200, 195, 188);
  }
  .draft {
    color: rgb(168, 160, 149) !important;
  }
  .search-form input {
    outline-color: initial;
    border-color: rgb(77, 84, 87);
  }
  .search-form input:focus {
    box-shadow: rgb(15, 121, 151) 0px 0px 5px;
    border-color: rgb(14, 116, 145);
  }
  // .toc-wrapper {
  //   background-color: rgb(31, 33, 35);
  // }
  // .toc a {
  //   color: rgb(77, 174, 242);
  // }

  /* Removed Override Style */

  /* Manually added */
  .toc-wrapper {
    background-color: rgb(31, 33, 35) !important;
  }
  .toc a {
    color: rgb(77, 174, 242) !important;
  }

  .toc a:focus {
    color: rgb(200, 195, 188) !important;
    border-bottom-color: rgb(62, 68, 70);
    text-decoration-color: initial;
  }
  .toc a:hover {
    color: rgb(200, 195, 188) !important;
    border-bottom-color: rgb(62, 68, 70);
    text-decoration-color: initial;
  }

}