// mobile ~320..480px
// 320px ~ 16rem/16px ~ 18.8235/17px ~ 17.7778/18px
// 480px ~ 30rem/16px ~ 28.2353rem/17px ~ 26.6667rem/18px
@media (max-width: 768px) {
  html,
  body {
    font-size: $small-device-font-size;
  }
  .hidden-tablet {
    display: none;
  }
  .topbar-title {
    flex: 1 1 auto;
  }
  .topbar-text {
    max-width: 100%;
  }
}

// tablet/medium device ~768px+
// 768px ~ 48em/16px ~ 45.1765em/17px ~ 42.6667/18px
@media (min-width: 768px) {
  html,
  body {
    font-size: $large-device-font-size;
  }
  .topbar-title {
    flex: 1 1 60%;
  }
  .topbar-text {
    max-width: $content-max-width;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.66666667%;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    a {
      width: calc(50% - 10px);
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }
}

//dark mode
@media (prefers-color-scheme: dark) {
/*! Dark reader generated CSS | Licensed under MIT https://github.com/darkreader/darkreader/blob/main/LICENSE */

  /* User-Agent Style */
  html {
    background-color: #181a1b !important;
  }
  html {
    color-scheme: dark !important;
  }
  html, body {
    background-color: #181a1b;
  }
  html, body {
    border-color: #736b5e;
    color: #e8e6e3;
  }
  a {
    color: #3391ff;
  }
  table {
    border-color: #545b5e;
  }
  ::placeholder {
    color: #b2aba1;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #404400 !important;
    color: #e8e6e3 !important;
  }
  ::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
  }
  ::-webkit-scrollbar-corner {
    background-color: #181a1b;
  }
  ::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
  ::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }

  /* Removed Invert Style */

  /* Removed Variables Style */

  /* Modified CSS */
  body {
    color: #c8c3bc;
    background-color: #181a1b;
  }
  a {
    color: #49a8ea;
    text-decoration-color: initial;
  }
  a:hover,
  a:focus {
    text-decoration-color: initial;
  }
  a strong {
    color: inherit;
  }
  table {
    border-color: #373c3e;
  }
  td,
  th {
    border-color: #373c3e;
  }
  tbody tr:nth-child(2n+1) td,
  tbody tr:nth-child(2n+1) th {
    background-color: #1b1e1f;
  }
  .page-title,
  .post-title,
  .post-title a {
    color: #cac5be;
  }
  .post-date {
    color: #a8a195;
  }
  .related {
    border-top-color: #35393b;
    border-bottom-color: #35393b;
  }
  .related-posts {
    list-style-image: initial;
  }
  .related-posts li small {
    color: #a8a095;
  }
  .related-posts li a:hover {
    color: #49a8ea;
    text-decoration-color: initial;
  }
  .related-posts li a:hover small {
    color: inherit;
  }
  .danger,
  .warning,
  .info,
  .tip,
  blockquote {
    border-left-color: initial;
    border-right-color: #8c827300;
    color: #9d9588;
  }
  blockquote {
    border-left-color: #373c3e;
  }
  .tip {
    color: #cbc6c0c4;
    background-color: #087f3533;
    border-left-color: #03c503;
  }
  .tip-icon {
    color: #50fc50;
  }
  .info {
    color: #cbc6c0c4;
    background-color: #022f43;
    border-left-color: #006bc2;
  }
  .info-icon {
    color: rgb(82, 181, 255);
  }
  .warning {
    color: #cbc6c0c4;
    background-color: #3d2e00;
    border-left-color: #b47602;
  }
  .warning-icon {
    color: #fcb125;
  }
  .danger {
    color: #cbc6c0c4;
    background-color: #430c118f;
    border-left-color: #962017;
  }
  .danger-icon {
    color: #e24d42;
  }
  kbd {
    border-color: #3e4446;
    background-color: #1f2123;
    color: #c9c4bd;
    box-shadow: #00000033 0px 0px 0px,
    #181a1b 0px 0px 0px 2px inset;
    text-shadow: #181a1b 0px 1px 0px;
  }
  a {
    color: #49a8ea;
    text-decoration-color: initial;
  }
  a:focus {
    color: #c8c3bc;
    border-bottom-color: #3e4446;
    text-decoration-color: initial;
    background-image: initial;
    background-color: #00000000;
  }
  a:focus.tag {
    text-decoration-color: initial;
  }
  a:hover {
    color: #c8c3bc;
    border-bottom-color: #3e4446;
    text-decoration-color: initial;
    background-image: initial;
    background-color: #00000000;
  }
  a:hover.tag {
    text-decoration-color: initial;
  }
  a.tag {
    text-decoration-color: initial;
  }
  a.read-more-symbol {
    text-decoration-color: initial;
  }
  // .topbar {
  //   background-color: rgb(10, 46, 70);
  // }
  .topbar a {
    color: rgb(228, 226, 222);
    border-color: initial;
  }
  .topbar a:hover {
    color: #49a8ea;
  }
  .topbar a:focus {
    color: #49a8ea;
  }
  .icons a {
    text-decoration-color: initial;
    border-color: initial;
  }
  .icon {
    color: #49a8ea;
    fill: #49a8ea;
  }
  .icon:hover {
    color: #c8c3bc;
    fill: #c8c3bc;
  }
  .item__date {
    color: #9d9588;
  }
  .post__meta {
    color: #9d9588;
  }
  .post__tag {
    background-image: initial;
    background-color: #222426;
    color: #a69f93;
  }
  .post__title {
    background-image: linear-gradient(to right,
    #0300b2,
    #4b6574);
    color: #e8e6e300;
  }
  // pre {
  //   background-color: rgb(10, 46, 70) !important;
  // }
  pre code {
    background-color: #00000000;
  }
  a code {
    color: #49a8ea;
  }
  code {
    background-color: #1f2123;
  }
  .navigation a {
    color: #49a8ea;
    border-color: #136cab;
  }
  .badge-tag,
  a.badge-tag {
    background-color: #12629b;
    color: #e8e6e3 !important;
  }
  .badge-tag:hover,
  .badge-tag:focus,
  a.badge-tag:hover,
  a.badge-tag:focus {
    background-color: #0a2e46;
    text-decoration-color: initial;
    border-bottom-color: initial;
  }
  .menu {
    background-color: #1f2123;
    color: #c8c3bc;
  }
  .draft {
    color: #a8a095 !important;
  }
  .search-form input {
    outline-color: initial;
    border-color: #4d5457;
  }
  .search-form input:focus {
    box-shadow: #0f7997 0px 0px 5px;
    border-color: #0e7491;
  }
  // .toc-wrapper {
  //   background-color: #1f2123;
  // }
  // .toc a {
  //   color: #4daef2;
  // }

  /* Removed Override Style */

  /* Manually added */
  .toc-wrapper {
    background-color: #1f2123 !important;
  }
  .toc a {
    color: #4daef2 !important;
  }

  .toc a:focus {
    color: #c8c3bc !important;
    border-bottom-color: #3e4446;
    text-decoration-color: initial;
  }
  .toc a:hover {
    color: #c8c3bc !important;
    border-bottom-color: #3e4446;
    text-decoration-color: initial;
  }

}