{% extends "base.html" %}

{% block title %}
    {{ page.title }} - {{ config.title }}
{% endblock title %}

{% block metadata %}
    <meta content="website" property="og:type"/>
    <meta content="{{ config.title }}" property="og:site_name"/>
    <meta content="{{ current_url | safe }}" property="og:url"/>
    <meta content="{{ current_url | safe }}" property="twitter:url"/>
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title"/>
        <meta content="{{ page.title }}" property="twitter:title"/>
    {% endif %}
{% endblock metadata %}

{% block content %}
<article>
    <div class=about>
      <div aria-label=Avatar>
          <section><img class=avatar src="{{ get_url(path="img/profile.png") }}" alt=profile.png></section>
      </div>
      <div>
          <section aria-label=Biography>
              <a href="https://creekmore.dev"><h1 aria-level=1 aria-label=Name>Morgan Creekmore</h1></a>
              <p>Software Engineer doing C#/.NET, C/C++, and Rust</p>
              </p>
          </section>
          <section aria-label=Contact>
              <div class=icons aria-label=Links>
                <a class=icon href=mailto:morgan@creekmore.dev target=_blank rel=noopener title=Mail>{{ macros::svg_mail() }}</a>
                <a class=icon href=https://github.com/gamingrobot target=_blank rel="noopener me">{{ macros::svg_github() }}</a>
                <a class=icon href=https://www.linkedin.com/in/morgancreekmore target=_blank rel="noopener me">{{ macros::svg_linkedin() }}</a>
                <a class=icon href=https://infosec.exchange/@gamingrobot target=_blank rel="noopener me">{{ macros::svg_mastadon() }}</a>
              </div>
          </section>
      </div>
    </div>
</article>
{% endblock content %}