<figure {% if align %}class="{{ align }}"{% else %}class="center"{% endif %}>
  {% if link %}<a href="{{ link }}">{% endif %}
  {%- set image_path = page.colocated_path ~ src %}
  {%- set image_meta = get_image_metadata(path=image_path) %}
  <img width="{{ image_meta.width }}" height="{{ image_meta.height }}" src="{{ get_url(path=image_path) }}" {% if alt %}alt="{{ alt }}"{% elif caption %}alt="{{ text }}"{% endif %}>
  {% if link %}</a>{% endif %}
  {% if text %}
  <figcaption>
    <span>{{ text }}</span>
  </figcaption>
  {% endif %}
</figure>
