{% extends "base.html" %}

{% block title %}
    {{ page.title }} - {{ config.title }}
{% endblock title %}

{% block metadata %}
    <meta content="website" property="og:type"/>
    <meta content="{{ config.title }}" property="og:site_name"/>
    <meta content="{{ current_url | safe }}" property="og:url"/>
    <meta content="{{ current_url | safe }}" property="twitter:url"/>
    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title"/>
        <meta content="{{ page.title }}" property="twitter:title"/>
    {% endif %}
    {% if page.description %}
        <meta content="{{ page.description }}" property="og:description"/>
        <meta content="{{ page.description }}" property="description"/>
        <meta content="{{ page.description }}" property="twitter:description"/>
    {% endif %}
    {% if page.extra.image %}
        <meta content="{{ get_url(path=page.colocated_path ~ page.extra.image) }}" property="og:image"/>
        <meta content="{{ get_url(path=page.colocated_path ~ page.extra.image) }}" property="twitter:image"/>
    {% endif %}
{% endblock metadata %}

{% block content %}
<article>
    <header>
        <h1>{{ page.title }}</h1>
        <div class=post__meta>
            {{ page.date | date(format="%b %d, %Y") }}
            <br>
            {% if page.taxonomies.tags %}
            {% for tag in page.taxonomies.tags %}
                <a class="badge badge-tag" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
            {% endfor %}
            <br>
            {% endif %}
        </div>
    </header>
    {% if not page.extra.hide_toc %}
    <div class=toc-wrapper>
        <input type=checkbox id=tocToggle checked>
        <label class=toc-label for=tocToggle>› Table of Contents</label>
        <div class=toc>
            <ul>
                {% for h1 in page.toc %}
                <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        {%- if h2.level <= 3 %}
                        <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
                        {%- endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class=post> 
        {{ page.content | safe }}
    </div>
    {% if page.lower or page.higher %}
        <nav class="navigation">
            {% if page.higher %}
                <a class="navigation-next" href="{{ page.higher.permalink }}">‹ {{ page.higher.title }}</a>
            {% endif %}
            {% if page.lower %}
                <a class="navigation-prev" href="{{ page.lower.permalink }}">{{ page.lower.title }} ›</a>
            {% endif %}
        </nav>
    {% endif %}
</article>
{% endblock content %}

{% block js_body %}
    {% if page.extra.mermaid %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.1/mermaid.min.js" integrity="sha512-6a80OTZVmEJhqYJUmYd5z8yHUCDlYnj6q9XwB/gKOEyNQV/Q8u+XeSG59a2ZKFEHGTYzgfOQKYEBtrZV7vBr+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var theme = '{{ config.extra.mermaid_theme }}'
            if(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches){
                theme = '{{ config.extra.mermaid_theme_dark }}'
            }
            var config = {
                startOnLoad:true,
                theme: theme,
                align:'{{ config.extra.mermaid_align }}'
            };
            mermaid.initialize(config);
        </script>
    {% endif %}
    {% if page.extra.jszoom %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.1.0/medium-zoom.min.js" integrity="sha512-9ZKhgaFdKlsELap/dGw3Iaz5Bj+Las0XXZiRKYZaN9QArg6FtkD5rULNmNH4rTCTFxjPiBGr3MX8smRADRorDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
        const images = Array.from(document.querySelectorAll("img"));
        images.forEach((img) => { mediumZoom(img, { margin: 0, background: "", scrollOffset: 40, container: null, template: null }); });
        </script>  
    {% endif %}
{% endblock js_body %}

