{% extends "base.html" %}

{% block title %}
    {{ section.title }} - {{ config.title }}
{% endblock title %}

{% block metadata %}
    <meta content="website" property="og:type"/>
    <meta content="{{ config.title }}" property="og:site_name"/>
    <meta content="{{ current_url | safe }}" property="og:url"/>
    <meta content="{{ current_url | safe }}" property="twitter:url"/>
    {% if section.title %}
        <meta content="{{ section.title }}" property="og:title"/>
        <meta content="{{ section.title }}" property="twitter:title"/>
    {% endif %}
{% endblock metadata %}

{% block content %}
<div>
    <h1 class="section-title">{{ section.title }}</h1>
    <ul class="posts">
        {% for page in section.pages %}
        <li>
            <span>
                <a href={{ page.permalink }} />{{ page.title }} </a>
                <time class="pull-right hidden-tablet">{{ page.date | date(format="%b %e, %Y") }}</time>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
