{% extends "base.html" %}

{% block title %}
    {{ section.title }} - {{ config.title }}
{% endblock title %}

{% block content %}
<div>
    <h1 class=section__title>{{ section.title }}</h1>
    <ul class=posts>
        {% for page in section.pages %}
        <li>
            <span class=list__title--small>
                <a href={{ page.permalink }} />{{ page.title }} </a>
                <time class="pull-right hidden-tablet">{{ page.date | date(format="%b %e, %Y") }}</time>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
